@using LCChecker.Models
@using LCChecker.Areas.Second.Models
@{
    ViewBag.Title = "统计概况";
    Dictionary<City, Summary> reportSummary = ViewBag.ReportSummary;
    Dictionary<City, Summary> planReportSummary = ViewBag.PlanReportSummary;
    Dictionary<City, Summary> coordSummary = ViewBag.CoordSummary;
    Dictionary<City, Summary> coordnewareaSummary = ViewBag.CoordNewAreaSummary;
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">验收报部表统计</a></li>
    <li class=""><a href="#tab4" data-toggle="tab">未验收报部表统计</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">坐标点存疑统计</a></li>
    <li class=""><a href="#tab3" data-toggle="tab">新增耕地坐标点统计</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        <p>
            @Html.ActionLink("下载统计表格", "Download", "Admin", new {ID=1 }, new { @class="btn btn-sm btn-primary",target="_blank"})
            @foreach(SecondReportType item in Enum.GetValues(typeof(SecondReportType))){
                if (item == SecondReportType.附表8)
                {
                    continue;
                }
                <span ><a href="/Second/Admin/DownLoadSummary?Type=@(item)&&IsPlan=false" class="btn btn-sm btn-primary" target="_blank"><i class="glyphicon glyphicon-download-alt"></i>&nbsp; @(item.ToString())</a></span>
               
            }
            
        </p>
        <table class="table table-bordered">
            <tr>
                <th>市</th>
                <th>项目总数</th>
                <th>通过总数</th>
                <th>失败总数</th>
                <th>未上传数</th>
            </tr>
            @foreach (var kv in reportSummary) {
                var summary = kv.Value;
                <tr>
                    <td><a href="/Second/Admin/Reports?city=@((int)summary.City)&&IsPlan=false">@(summary.City)</a></td>
                    <td>@(summary.TotalCount)</td>
                    <td>@(summary.SuccessCount)</td>
                    <td>@(summary.ErrorCount)</td>
                    <td>@(summary.UnCheckCount)</td>
                </tr>
            }
        </table>
    </div>

    <div class="tab-pane fade" id="tab2">
        <p>
            @Html.ActionLink("下载统计表格", "Download", "Admin", new {ID=2 }, new { @class="btn btn-sm btn-primary",target="_blank"})
           
        </p>
        <table class="table table-bordered">
            <tr>
                <th>市</th>
                <th>项目总数</th>
                <th>通过总数</th>
                <th>例外总数</th>
                <th>失败总数</th>
                <th>未上传数</th>
            </tr>
            @foreach (var kv in coordSummary) {
                var summary = kv.Value;
                <tr>
                    <td><a href="">@(summary.City)</a></td>
                    <td>@(summary.TotalCount)</td>
                    <td>@(summary.SuccessCount)</td>
                    <td>@(summary.ExceptionCount)</td>
                    <td>@(summary.ErrorCount)</td>
                    <td>@(summary.UnCheckCount)</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab3">
        <p>
            @Html.ActionLink("下载统计表格", "Download", "Admin", new { ID=3}, new { @class = "btn btn-sm btn-primary", target = "_blank" })
        </p>
        <table class="table table-bordered">
            <tr>
                <th>市</th>
                <th>项目总数</th>
                <th>通过总数</th>
                <th>例外总数</th>
                <th>失败总数</th>
                <th>未上传数</th>
            </tr>
            @foreach (var ke in coordnewareaSummary) {
                var summ = ke.Value;
                <tr>
                    <td><a href="">@(summ.City)</a></td>
                    <td>@(summ.TotalCount)</td>
                    <td>@(summ.SuccessCount)</td>
                    <td>@(summ.ExceptionCount)</td>
                    <td>@(summ.ErrorCount)</td>
                    <td>@(summ.UnCheckCount)</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab4">
        <p>
            @Html.ActionLink("下载统计表格", "Download", "Admin", new { ID = 4 }, new { @class = "btn btn-sm btn-primary", target = "_blank" })
            @foreach (SecondReportType item in Enum.GetValues(typeof(SecondReportType)))
{
    if (item == SecondReportType.附表6)
    {
        break;
    }
                <span ><a href="/Second/Admin/DownLoadSummary?Type=@(item)&&IsPlan=true" class="btn btn-sm btn-primary" target="_blank"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;@(item.ToString())</a></span>

}
        </p>
        <table class="table table-bordered">
            <tr>
                <th>市</th>
                <th>项目总数</th>
                <th>通过总数</th>
                <th>失败总数</th>
                <th>未上传数</th>
            </tr>
            @foreach (var kv in planReportSummary)
            {
                var summary = kv.Value;
                <tr>
                    <td><a href="/Second/Admin/Reports?city=@((int)summary.City)&&IsPlan=true">@(summary.City)</a></td>
                    <td>@(summary.TotalCount)</td>
                    <td>@(summary.SuccessCount)</td>
                    <td>@(summary.ErrorCount)</td>
                    <td>@(summary.UnCheckCount)</td>
                </tr>
            }
        </table>
    </div>
</div>
