@using LCChecker.Models
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "首页";
    Summary projectSummary = ViewBag.ProjectSummary;
    Summary reportSummary = ViewBag.ReportSummary;
}
<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-check"></i>&nbsp;<a href="/user/projects/">自检表管理</a></p>
            <li class="small">项目总数：
        @(projectSummary.TotalCount)</li>
            <li class="small">检验通过总数：
        @(projectSummary.SuccessCount)</li>
            <li class="small">存疑总数：
        @(projectSummary.ErrorCount)</li>
            <li class="small">未上传总数：
        @(projectSummary.UnCheckCount)</li>
@*            <p><small><span class="badge badge-success">下载</span>&nbsp;<a href="/@(HttpUtility.UrlEncode("重点项目复核确认总表")).xls">重点项目复核确认总表下载</a></small></p>*@
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-paperclip"></i>&nbsp;<a href="/user/reports/">报部表管理</a></p>
            <li class="small">项目总数：
        @(reportSummary.TotalCount)</li>
            <li class="small">检验通过总数：
        @(reportSummary.SuccessCount)</li>
            <li class="small">存疑总数：
        @(reportSummary.ErrorCount)</li>
            <li class="small">未上传总数：
        @(reportSummary.UnCheckCount)</li>
@*            <li class="small"><span class="badge badge-success">样表</span>&nbsp;
                @foreach (var name in Enum.GetNames(typeof(ReportType)))
                {
                <a href="/templates/@(HttpUtility.UrlEncode(name)).xls">@(name)</a> 
                }

            </li>*@
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-map-marker"></i>&nbsp;<a href="/user/coordprojects">项目坐标点上传</a></p>
            <small>请提交坐标点文件至系统中。
            </small>
@*            <p><small><span class="badge badge-success">下载</span>&nbsp;<a href="/@(HttpUtility.UrlEncode("坐标存疑项目列表")).xlsx">坐标存疑项目列表下载</a></small></p>*@
        </blockquote>
    </div>
    <div class="col-lg-6">
        <blockquote>
            <p><i class="glyphicon glyphicon-map-marker"></i>&nbsp;新增耕地坐标点上传</p>
            <small>注意：新增耕地的坐标上传功能稍后提供。
            </small>
        </blockquote>
    </div>
</div>
