@using LCChecker.Models
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "首页";
    Summary projectSummary = ViewBag.ProjectSummary;
    Summary reportSummary = ViewBag.ReportSummary;
}
<blockquote>
    <p><i class="glyphicon glyphicon-check"></i>&nbsp;<a href="/user/projects/">自检表管理</a></p>
    <small>
        项目总数：
        @(projectSummary.TotalCount)
        检验通过总数：
        @(projectSummary.SuccessCount)
        未通过总数：
        @(projectSummary.ErrorCount)
        未上传总数：
        @(projectSummary.UnCheckCount)
    </small>
</blockquote>

<blockquote>
    <p><i class="glyphicon glyphicon-paperclip"></i>&nbsp;<a href="/user/reports/">报部表管理</a></p>
    <small>
        项目总数：
        @(reportSummary.TotalCount)
        检验通过总数：
        @(reportSummary.SuccessCount)
        未通过总数：
        @(reportSummary.ErrorCount)
        未上传总数：
        @(reportSummary.UnCheckCount)
    </small>
</blockquote>

<blockquote>
    <p><i class="glyphicon glyphicon-map-marker"></i>&nbsp;<a href="#">坐标点上传</a></p>
    <small>
        坐标点文件请在下线提交
    </small>
</blockquote>

