@using LCChecker.Models
@model IEnumerable<LCChecker.Models.Record>
@{
    Layout = "_Layout.cshtml";
}
<div style="clear: both; overflow: hidden; margin-bottom: 10px;">
    <form class="form form-inline" style="float: right;">
        <div class="input-group">
            <span class="input-group-addon">过滤项目</span>
                <select name="type" class="form-control">
                    @foreach (var name in Enum.GetNames(typeof(ReportType)))
                    {
                        var value = (int)Enum.Parse(typeof(ReportType), name);
                        <option value="@(value)" @(value.ToString() == Request.QueryString["type"] ? "selected=selected" : "")>@(name)</option>
                    }
                </select>
            <div class="input-group-btn">
                <select name="isError" class="form-control">
                    <option value="">全部</option>
                    <option value="true" @(Request.QueryString["isError"] == "true" ? "selected=selected" : "")>错误</option>
                    <option value="false" @(Request.QueryString["isError"] == "false" ? "selected=selected" : "")>提示</option>
                </select>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">过滤</button>
            </div>
        </div>
    </form>
</div>
<table class="table table-bordered">
    <tr>
        <th style="width: 150px">项目编号</th>
        <th style="width: 100px">信息类型</th>
        <th>备注</th>
    </tr>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.ProjectID</td>
            <td>
                @if (item.IsError)
                { 
                    <span class="label label-danger">错误</span>
                }
                else
                { 
                    <span class="label label-info">提示</span>
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Note))
                {
                    if (item.Note.Length > 60)
                    { 
                    <a href="#@(item.ID)" class="btn-details" data="@(item.ID)">@(item.Note.Substring(0, 60))...</a>
                    <div id="tips-@(item.ID)" class="tips">
                        <div class="tooltip-inner">
                            @Html.Raw(item.Note.Replace("；", "<br />"))
                        </div>
                    </div>
                    }
                    else
                    { 
                    <span>@item.Note</span>
                    }
                }

            </td>
        </tr>
    }
    <tr>
        <td colspan="10">
            @Html.Partial("_pagination", ViewBag.Page as object)
        </td>
    </tr>
</table>
<script>
    $(function () {

        $("body").click(function (e) {
            $(".tips").hide();
            var node = $(e.target);
            var className = node.attr("class");
            if (className && className.indexOf("btn-details") > -1) {
                var id = node.attr("data");
                var tip = $("#tips-" + id);
                if (tip.css('display') == "none") {
                    $(".tips").hide();
                    tip.show();
                } else {
                    tip.hide();
                }
            }
        });
    });
</script>
