@using LCChecker.Areas.Second.Models
@using LCChecker
@{
    List<LCChecker.Areas.Second.Models.SecondReport> list = ViewBag.List;
    List<LCChecker.Areas.Second.Models.SecondProject> projects = ViewBag.Projects;
    List<string> Country = ViewBag.Country;
    ViewBag.Title = "报部表格";
    Layout = "~/Views/User/_Layout.cshtml";
}

<div class="alert alert-warning">
    1.请严格按照样表填写报部表格。<br />
    2.请注意<b>表2</b>，<b>表3</b>，<b>表4</b>，<b>表6</b>，<b>表7</b>，<b>表8</b>，<b>表9</b>的项目与<b>表1</b>项目的对应关系，系统检查后会若提示不一致，请与省国土厅联系并进行说明。<br />
    3.<b>表5</b>请提供纸质表。<br />
</div>
<div class="alert alert-danger">
    报部表格上传端口已经关闭
</div>

<table class="table table-bordered">
    <tr>
        <th>表单名称</th>
        <th>检查状态</th>
        <th>检查结果</th>
        <th>样表下载</th>
        <th style="width:200px;">上传验证</th>
    </tr>

    @foreach (var item in list) { 
        var typevalue=(int)item.Type;
        <tr>
            <td>@(item.Type+":"+ item.Type.GetDescription())</td>
            @switch (item.Result) { 
                case null:
                    <td>
                        <span class="label label-default">未检查</span> 
                    </td>
                    <td>---</td>
                    break;
                    case true:
                    <td>
                        <span class="label label-success">无误</span>
                    </td>
                    <td><a href="/Second/User/ReportResult?Type=@typevalue&&IsPlan=false" class="btn btn-sm btn-default">查看</a>  </td>
                    break;
                    case false:
                    <td>
                        <span class="label label-warning">存疑</span>
                    </td>
                    <td><a href="/Second/User/ReportResult?Type=@typevalue&&IsPlan=false" class="btn btn-sm btn-default">查看</a>  </td>
                    break;
            }
            <td>
                <a href="/Templates/Second/@(item.Type.ToString()).xls" class="btn btn-sm btn-primary">下载</a>
            </td>
            <td>
                @*<form method="post" action="/Second/User/UploadReports?type=@typevalue" class="form-inline" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control input-sm" style="width:100px" />
                    <button type="submit" class="btn btn-sm btn-success">上传</button>
                </form>*@
            </td>
        </tr>
    }
</table> 



<div style="clear: both; overflow: hidden; margin-bottom: 10px;">
    <form class="form form-inline" style="float:left;">
        <div class="input-group">
            <span class="input-group-addon">搜索项目编号</span>
            <div class="input-group-btn">
                <input type="text" name="PID" class="form-control" />
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-success">搜索</button>
            </div>
        </div>
    </form>
    <form class="form form-inline" style="float: right;">
        <div class="input-group">
            <span class="input-group-addon">过滤项目</span>
            <div class="input-group-btn">
                <select name="country" class="form-control">
                    <option value="">全部</option>
                    @foreach (var item in Country) { 
                        <option value="@item" @(Request.QueryString["country"]==item?"selected=selected":"")>@item</option>
                    }
                </select>
                <select name="result" class="form-control">
                    <option value="0">全部</option>
                    <option value="3" @(Request.QueryString["result"] == "3" ? "selected=selected" : "")>未上传</option>
                    <option value="1" @(Request.QueryString["result"] == "1" ? "selected=selected" : "")>无误</option>
                    <option value="2" @(Request.QueryString["result"] == "2" ? "selected=selected" : "")>存疑</option>
                </select>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">过滤</button>
            </div>
        </div>
    </form>
</div>
<table class="table table-bordered">
    <tr>
        <th style="width: 150px">项目编号</th>
        <th>项目名称</th>
        <th style="width: 100px">所在县</th>
        <th style="width: 100px">检验结果</th>
        <th style="width: 300px;">备注</th>
    </tr>
    @foreach (var project in projects)
    {
        <tr>
            <td>@(project.ID)</td>
            <td>@(project.Name)</td>
            <td>@(project.County)</td>
            <td>
                @if (project.Result.HasValue)
                {
                    if (project.Result.Value)
                    {
                        <span class="label label-success">无误</span>
                    }
                    else
                    {
                        <span class="label label-warning">存疑</span>
                    }
                }
                else
                {
                    <span class="label label-default">未上传</span>
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(project.Note))
                {
                    if (project.Note.Length > 25)
                    {
                        <a href="#@(project.ID)" class="btn-details" data="@(project.ID)">点击查看详细错误</a>
                        <div id="tips-@(project.ID)" class="tips">
                            <div class="tooltip-inner">
                                @Html.Raw(project.Note.Replace("；", "<br />"))
                            </div>
                        </div>
                    }
                    else
                    {
                        <span>@project.Note</span>
                    }
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="10">
            @Html.Partial("_pagination", ViewBag.Page as object)
        </td>
    </tr>
</table>
<script>
    $(function () {

        $("body").click(function (e) {
            $(".tips").hide();
            var node = $(e.target);
            var className = node.attr("class");
            if (className && className.indexOf("btn-details") > -1) {
                var id = node.attr("data");
                var tip = $("#tips-" + id);
                if (tip.css('display') == "none") {
                    $(".tips").hide();
                    tip.show();
                } else {
                    tip.hide();
                }
            }
        });
    });
</script>


